@import "tailwindcss";
@import "tailwindcss-intersect";

@layer base {
  html,
  body {
    @apply font-sans;
  }
}

@theme {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Source Serif 4', 'Georgia', ui-serif, system-ui, serif;

  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-lg: 1.25rem;
  --text-xl: 1.75rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
  --text-5xl: 3.5rem;

  --container-width: 960px;
  --container-padding: 1rem;
  --overscroll-behavior: none;
}

@layer components {
  .full-width{
    @apply relative w-[100vw] left-[50%] right-[50%] -ml-[50vw] -mr-[50vw];
  }
    .typography{
      @apply text-pretty;
      p {
        font-size: var(--text-base);
        @apply leading-relaxed mt-4;
      }
      h1, h2, h3 {
        font-family: var(--font-serif);
        @apply leading-[1.2];
        @apply -tracking-[0.02em];
        @apply mt-6;
      }
      h1 {
        font-weight: 500;
        font-family: var(--font-serif);
        @apply -tracking-[0.04em] text-5xl md:text-6xl;
      }
      h2 {
        font-size: var(--text-2xl);
        font-weight: 400;
      }
      h3 {
        font-size: var(--text-xl);
        font-weight: 600;
      }
      h4 {
        font-size: var(--text-lg);
        font-weight: 400;
        @apply -tracking-[0.02em];
      }
      h5 {
        font-size: var(--text-base);
      }
      h6 {
        font-size: var(--text-sm);
      }
    }
    .typography-secondary {
      @apply opacity-65;
    }
}