---
import Layout from '../layouts/Page.astro';
import Container from '../components/Container.astro';
import Link from '@/components/Link.astro';
import { Accordion } from '@/components/Accordion';

const accordionData = [
	{
		title: 'How much does Bobbin cost?',
		description:
			'Bobbin is completely free to try for 30 days, but requires a paid license to use it once the trial period ends. After the trial period, you can purchase a lifetime license with a single in-app purchase of just $14.99 USD (or equivalent in your local currency). There are no subscriptions or recurring charges, and you will never be charged automatically.',
	},
	{
		title: 'Can I purchase sewing patterns on Bobbin?',
		description:
			'No, Bobbin does not sell any sewing patterns or supplies. Any patterns in the app are sourced from the web and may include product links to purchase from pattern makers directly.',
	},
	{
		title: 'What platforms will Bobbin be available on?',
		description:
			'Bobbin is currently available on iOS and iPadOS. Support for Android and other platforms is TBD.',
	}
];
---

<Layout>
	<div class="max-w-2xl mx-0">
		<h1>Frequently Asked Questions</h1>
		<p>
			Have a different question? Contact us at <Link
				href="mailto:support@bobbin.app">support@bobbin.app</Link
			>
		</p>
		<Accordion data={accordionData} client:idle />
	</div>
</Layout>
