---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Divider from "../components/Divider.astro";
import settings from "../data/settings";

const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container>
    <div class="w-full h-[720px] relative overflow-hidden">
      <div class="flex flex-col bg-linear-to-r from-neutral-100 from-25% to-transparent h-full w-1/2">
        <div class="flex flex-col max-w-sm my-auto">
          <h1 class="text-5xl md:text-7xl leading-[1.1] pb-8">
            Your sewing,
            <br />
            simplified
          </h1>
          <h4 class="typography-secondary">
            Bobbin is the best app to plan your sewing projects, organize your stash of patterns and fabrics, and find inspiration for your next make
          </h4>
        </div>
        <div class="my-auto flex flex-col gap-4 items-start">
          <img src="../../public/appstoreBadge.svg" alt="Download on the app store" class="h-12 m-0">
          <h5 class="typography-secondary">
            Available on iOS and iPadOS
          </h5>
        </div>
      </div>
      <div class="w-[1440px] h-[720px] absolute top-0 -z-10">
        <spline-viewer loading-anim-type="spinner-small-dark" url="https://prod.spline.design/3JinmKNyZGInVGXC/scene.splinecode"></spline-viewer>
      </div>
    </div>
    <Divider />
    <div class="flex flex-col">
      <h2>Features</h2>
      <div class="flex flex-col md:flex-row gap-8 my-8 ">
        <img src="../../features/feature_01.png" alt="Manage your projects" class="w-full md:w-1/2" />
        <div class="flex flex-col gap-4 my-auto text-balance">
          <h3>Manage your makes, from concept to closet</h3>
          <h4 class="typography-secondary">
            Projects give you a home to plan your ideas, document progress, and finish your makes
          </h4>
        </div>
      </div>

      <div class="flex flex-col md:flex-row-reverse gap-8 my-8 ">
        <img src="../../features/feature_01.png" alt="Manage your projects" class="w-full md:w-1/2" />
        <div class="flex flex-col gap-4 my-auto">
          <h3 class="text-balance">Your entire stash of patterns & fabrics, in your pocket
          </h3>
          <h4 class="typography-secondary">
            Projects give you a home to plan your ideas, document progress, and finish your makes
          </h4>
        </div>
      </div>

      <div class="flex flex-col md:flex-row gap-8 my-8 ">
        <img src="../../features/feature_01.png" alt="Manage your projects" class="w-full md:w-1/2" />
        <div class="flex flex-col gap-4 my-auto">
          <h3 class="text-balance">Discover new patterns & find your next project
          </h3>
          <h4 class="typography-secondary">
            Browse thousands of patterns in Bobbin’s database — sourced from your favorite big-name brands and indie pattern makers
          </h4>
        </div>
      </div>
    </div>
    
  </Container>
</Layout>

