---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import settings from "../data/settings";

const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container>
    <div class="flex flex-col content-center self-center justify-center -space-y-12 md:space-y-4 my-auto md:py-16 h-full">
      <div class="flex justify-center min-h-80 max-h-[40rem] grow w-full max-w-md mx-auto relative">
        <img src="/screenshot.png" alt="Screenshot from Bobbin app" class="object-cover md:object-contain object-top px-4 pt-4"/>
        <div class="absolute inset-x-0 bottom-0 h-64 bg-gradient-to-t from-neutral-100 dark:from-neutral-950 to-transparent visible md:invisible"></div>
      </div>
      <div class="flex flex-col items-center justify-center space-y-4 md:space-y-8 p-6 pb-12 z-10">
        <h5 class="text-sm text-center font-medium bg-neutral-200/50 dark:bg-neutral-800/50 backdrop-blur-sm rounded-full px-4 py-2 border border-neutral-300 dark:border-neutral-700">Coming soon</h5>
        <h1 class="text-5xl md:text-7xl text-center tracking-tight font-serif">Sewing made simple</h1>
        <p class="text-lg md:text-xl text-center text-neutral-600 dark:text-neutral-400">
            {title} is the all-in-one app to help you plan, organize, and finish your sewing projects.
        </p>
      </div>
    </div>
    
  </Container>
</Layout>
