---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Divider from "../components/Divider.astro";
import Feature from "../components/Feature.astro";
import settings from "../data/settings";
import { Link, Heart } from 'lucide-react';
const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container>
    <div class="w-full h-[720px] relative overflow-hidden my-16">
      <div class="flex flex-col bg-linear-to-r from-neutral-100 from-25% to-transparent h-full w-1/2">
        <div class="flex flex-col max-w-sm my-auto">
          <h1 class="text-5xl md:text-7xl leading-[1.1] pb-8">
            Your sewing,
            <br />
            simplified
          </h1>
          <h4 class="typography-secondary text-xl font-normal">
            Bobbin is the best app to plan your sewing projects, organize your stash of patterns and fabrics, and find inspiration for your next make
          </h4>
        </div>
        <div class="my-auto flex flex-col gap-4 items-start">
          <img src="../../appstoreBadge.svg" alt="Download on the app store" class="h-12 m-0">
          <h5 class="typography-secondary">
            Available on iOS and iPadOS
          </h5>
        </div>
      </div>
      <div class="w-[1440px] h-[720px] absolute top-0 -z-10">
        <spline-viewer loading-anim-type="spinner-small-dark" url="https://prod.spline.design/3JinmKNyZGInVGXC/scene.splinecode"></spline-viewer>
      </div>
    </div>

    <div class="flex flex-col my-16">
      <Feature
        eyebrow="Projects"
        title="Manage your makes, from concept to closet"
        description="Projects give you a home to plan your ideas, document progress, and finish your makes"
        imageSrc="../../features/feature1.png"
        backgroundImageSrc="../../features/feature-bg1.png"
        imageAlt="Manage your projects"
      />

      <Feature
        eyebrow="Stash"
        title="Your entire stash, in your pocket"
        description="Keep track of every fabric and pattern in your stash — all in an easy-to-use interface"
        imageSrc="../../features/feature2.png"
        backgroundImageSrc="../../features/feature-bg2.png"
        imageAlt="Your stash in your pocket"
        isReversed={true}
      />

      <Feature
        eyebrow="Explore"
        title="Discover new patterns & find your next project"
        description="Browse thousands of patterns in Bobbin's database — sourced from your favorite big-name brands and indie pattern makers"
        imageSrc="../../features/feature3.png"
        backgroundImageSrc="../../features/feature-bg3.png"
        imageAlt="Discover new patterns"
      />
    </div>

    <div class="flex flex-col h-[720px] full-width relative overflow-hidden">
      
      <div class="flex flex-col max-w-xl mx-auto text-center text-white z-10 space-y-3 my-8">
        <h3 class="typography-secondary">Featuring</h3>
        <h2 class="mt-0 italic">Collage Mode</h2>
        <p class="typography-secondary">
          Bring your ideas to life with interactive collages, assembled from photos, stickers, text, and drawings
        </p>
      </div>

      <img src="../../noise.png" alt="Noise overlay" class="w-full h-full object-cover z-0 absolute top-0 left-0" />

      <img src="../../collage.jpg" alt="Collage" class="w-vw min-h-full object-cover -z-10 absolute top-0 blur-sm scale-105 intersect:blur-none intersect:scale-100 intersect-half transition duration-500 ease-in" />
    </div>

    <div class="flex flex-col">
      <div class="flex flex-col text-center z-10 space-y-8 my-8 mx-auto">
        <h3 class="typography-secondary">And more...</h3>
        <div class="flex flex-col md:flex-row gap-8 flex-wrap justify-center text-center">
          
          <div class="flex flex-col w-full max-w-xs mx-auto justify-center items-center space-y-4">
            <div class="flex w-16 h-16 border border-neutral-200 rounded-full items-center justify-center">
              <img src="../../icons/import.svg" alt="Import icon" class="w-8 h-8" />
            </div>
            <div class="flex flex-col gap-0 grow">
              <h4>Import from the web</h4>
              <h5 class="typography-secondary">
                Quickly save patterns and fabrics to your stash by pasting their URL
              </h5>
            </div>
          </div>
          <div class="flex flex-col w-full max-w-xs mx-auto justify-center items-center space-y-4">
            <div class="flex w-16 h-16 border border-neutral-200 rounded-full items-center justify-center">
              <img src="../../icons/filter.svg" alt="Filter icon" class="w-8 h-8" />
            </div>
            <div class="flex flex-col gap-0 grow">
              <h4>Search, sort, filter</h4>
              <h5 class="typography-secondary">
                With an organized stash, finding the perfect pattern or fabric for a project has never been easier
              </h5>
            </div>
          </div>
          <div class="flex flex-col w-full max-w-xs mx-auto justify-center items-center space-y-4">
            <div class="flex w-16 h-16 border border-neutral-200 rounded-full items-center justify-center">
              <img src="../../icons/notes.svg" alt="Notes icon" class="w-8 h-8" />
            </div>
            <div class="flex flex-col gap-0 grow">
              <h4>Project photos & notes</h4>
              <h5 class="typography-secondary">
                Document your project progress with photos & notes
              </h5>
            </div>
          </div>
          <div class="flex flex-col w-full max-w-xs mx-auto justify-center items-center space-y-4">
            <div class="flex w-16 h-16 border border-neutral-200 rounded-full items-center justify-center">
              <img src="../../icons/icloud.svg" alt="iCloud icon" class="w-8 h-8" />
            </div>
            <div class="flex flex-col gap-0 grow">
              <h4>iCloud Sync</h4>
              <h5 class="typography-secondary">
                Your projects and stash are automatically synced across all of your devices
              </h5>
            </div>
          </div>
          <div class="flex flex-col w-full max-w-xs mx-auto justify-center items-center space-y-4">
            <div class="flex w-16 h-16 border border-neutral-200 rounded-full items-center justify-center">
              <img src="../../icons/private.svg" alt="Private icon" class="w-8 h-8" />
            </div>
            <div class="flex flex-col gap-0 grow">
              <h4>Private by design</h4>
              <h5 class="typography-secondary">
                Bobbin will never display ads and doesn't collect or share any user data
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col full-width bg-neutral-300 py-24 space-y-8 text-balance">
      <div class="flex flex-col max-w-3xl mx-auto text-center justify-center  space-y-4">
        <h2>Designed for iPhone & iPad</h2>
        <p class="typography-secondary">
          Bobbin was designed from the ground up to work across devices and fit perfectly in any workflow
        </p>
        
      </div>
      <img src="../../devices.png" alt="Devices" class="w-full max-h-96 object-contain" />
    </div>
    
  </Container>
</Layout>

