---
import Layout from '../layouts/Page.astro';
import settings from '../data/settings';
import Content from '../links/terms.md';

const title = settings.title;
const description = settings.description;
const seo = { title: title, description: description };
---

<Layout seo={seo}>
	<div class="max-w-2xl mx-0">
		<Content />
	</div>
</Layout>
