---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import settings from "../data/settings";
import Content from "../links/terms.md";

const title = settings.title;
const description = settings.description;

const seo = {
  title: title,
  description: description
}
---

<Layout
  seo={seo}
>
  <Container>
    <div class="prose prose-neutral dark:prose-invert">
      <Content />
    </div>
    
  </Container>
</Layout>
