---
import Link from './Link.astro';
import NavLink from './NavLink.astro';
import Container from './Container.astro';
const currentYear = new Date().getFullYear();
---

<footer class="py-8 w-full">
	<Container>
		<div
			class="flex flex-col md:flex-row justify-between items-center gap-4">
			<div class="flex flex-col md:flex-row items-center gap-8">
				<div class="flex flex-row items-center gap-0">
					<Link href="https://dabble.fyi" external>
						<div
							class="relative dabble-mask h-12 w-24 bg-neutral-900">
							<div
								class="opacity-0 hover:opacity-100 bg-[url('../../dabble-bg-light.png')] bg-[auto_200px] transition-all duration-300 w-24 h-24 motion-preset-spin motion-duration-2000 m-auto absolute inset-0">
							</div>
						</div>
					</Link>
				</div>
				<div class="flex flex-row items-center gap-4">
					<h5><NavLink href="/privacy">Privacy Policy</NavLink></h5>
					<h5><NavLink href="/terms">Terms & Conditions</NavLink></h5>
				</div>
			</div>
			<h6 class="typography-secondary">
				&copy; {currentYear} Dabble Product Company, LLC
			</h6>
		</div>
	</Container>
</footer>