---
import Link from "./Link.astro";
---

<footer class="flex justify-center h-12 bg-neutral-100 dark:bg-neutral-950 py-4 z-10">
    <p class="text-sm text-neutral-500">
        Design & Development by <Link href="https://dabble.fyi">Dabble</Link>
    </p>
</footer>
