---
import Link from "./Link.astro";
---

<footer class="flex justify-center h-8">
    <p class="text-sm text-neutral-500">
        Design & Development by <Link href="https://dabble.fyi">Dabble</Link>
    </p>
</footer>
