---
import Link from "./link.astro";
---

<footer class="flex items-center justify-center h-16">
    <p class="text-sm text-neutral-500">
        Design & Development by <Link href="https://dabble.fyi">Dabble</Link>
    </p>
</footer>
