---
import Link from './Link.astro';
import Button from './Button.astro';
import NavLink from './NavLink.astro';
import Container from './container.astro';
const navLinks: { title: string; href: string }[] = [
	{
		title: 'Features',
		href: '/',
	},
	{
		title: 'Contact',
		href: 'mailto:info@bobbin.app',
	},
	{
		title: 'FAQ',
		href: '/faq',
	},
];

const currentPath = new URL(Astro.request.url).pathname;
---

<header
	class="flex w-full m-auto px-2 md:px-0 py-6 md:py-8 bg-transparent hover:bg-neutral-100 transition-all duration-300 relative">
	<Container>
		<div class="w-full flex flex-col md:flex-row justify-between items-center gap-4">
			<Link href="/" class="h-8">
				<img src="/logo.svg" alt="Bobbin" class="h-4" />
			</Link>
			<div class="flex gap-4 md:gap-8 font-semibold m-0 p-0 items-center">
				{
					navLinks.map((navLink) => (
						<NavLink href={navLink.href}>
							<p
								class={`${currentPath === navLink.href ? 'typography' : 'typography-secondary'} m-0`}>
								{navLink.title}
							</p>
						</NavLink>
					))
				}
				<Button href="https://apps.apple.com/us/app/bobbin-sewing-organizer/id6744337422?platform=iphone" external>
					Download
				</Button>
			</div>
		</div>
	</Container>
</header>
